%td.id
%td.body
  .form
    - remote_form_for question.part_of_group? ? question.question_group : question, :url => survey_section_question_path(survey, section, question) do |f|
      = render :partial => 'form', :locals => {:f => f}
      .submit
        = submit_tag 'Update Question', :disable_with => 'Updating Question...'
        %span 
          or
          %a{:href => "#", :class => 'cancel', :onclick => "$('#question_edit_container_#{question.id}').hide('blind', { direction: 'vertical' }, 1000);return false;"} Close