#questions_list
  #question_preview
  %table
    %tbody
      - questions.each do |question|
        %tr
          %td.id
            .show_id= show_question_number(question)
          %td.body
            .boxxx{:id => ['question_preview_container',question.id]}
              / .show_body= truncate_html(question.text, 120)
              - if question.part_of_group?
                #question_preview= render :partial => 'partials/question_group', :locals => {:question_group => question.question_group, :group_questions => question.question_group.questions, :response_set => ResponseSet.dummy}
              - else
                #question_preview= render :partial => 'partials/question', :locals => {:question => question, :response_set => ResponseSet.dummy}
            %div{:id => ['question_edit_container',question.id]}