#questions_list
  %table
    %tbody
      - questions.each do |question|
        %tr
          %td.id
            .show_id= show_question_number(question)
          %td.body
            .boxxx
              .show_body= truncate_html(question.text, 120)