body {
  margin: 0;
  padding: 0;
  font: 12px/18px arial, tahoma, verdana, sans-serif;
  color: #222222; }

textarea {
  font-family: arial, tahoma, verdana, sans-serif;
  font-size: 12px;
  padding: 4px;
  height: 80px; }

a {
  color: #4085cc;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a.edit, a.delete, a.cancel {
    color: #cc0000; }

label {
  display: block;
  font-weight: bold;
  margin-bottom: 1px; }

table {
  border-collapse: collapse; }

.right {
  float: right; }

.warning {
  color: #cc0000; }

.hint {
  color: #888888; }

.inline {
  display: inline; }

.light {
  color: #888888; }

a#logo img {
  border: 0; }

body#users.edit #nav a.account,
body#users.update #nav a.account,
body#users #nav a.signup,
body#user_sessions #nav a.login,
body#surveys #nav a.surveys,
body#questions #nav a.surveys,
body#categories #nav a.surveys,
body#tags #nav a.surveys,
body#dashboards #nav a.dashboard {
  font-weight: bold; }

hr#split {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px dotted #cccccc; }

.flash {
  padding: 10px 12px;
  color: white;
  margin-bottom: 20px;
  background: #f5f5f5;
  font-weight: bold;
  font-size: 14px; }
  .flash#success {
    color: #60bb22; }
  .flash#failure {
    color: #b80028; }

#main-inner {
  font-family: arial, tahoma, verdana, sans-serif;
  width: 960px; }
  #main-inner h2 {
    padding-top: 18px;
    color: #44a1dc;
    font-size: 22px;
    margin-top: 5px; }
  #main-inner #mid_nav {
    float: right;
    font-size: 14px; }
    #main-inner #mid_nav.correct, #main-inner #mid_nav.incorrect {
      color: white;
      margin-top: 5px;
      padding: 2px 5px;
      font-size: 12px; }
    #main-inner #mid_nav.correct {
      background: #5bc236; }
    #main-inner #mid_nav.incorrect {
      background: #cc0000; }
  #main-inner #right h3 {
    margin-top: 0;
    margin-left: 40px; }
    #main-inner #right h3.top {
      margin-top: 20px; }
  #main-inner #right ul {
    margin-left: 40px; }
  #main-inner #right .no_items, #main-inner #right .boxxx {
    float: right;
    margin-left: 40px;
    width: 300px; }
  #main-inner #right .no_items {
    font-size: 12px;
    padding: 20px 0; }
  #main-inner #right .info {
    padding: 10px;
    margin-top: 20px; }
    #main-inner #right .info .button {
      margin-top: 15px; }
    #main-inner #right .info.yellow {
      background: #ffffdd;
      border-right: 1px solid #efe9ba;
      border-bottom: 1px solid #efe9ba; }
  #main-inner #right .show_table {
    margin-left: 40px; }

.submit {
  float: left; }
  .submit span {
    color: #888888; }

.heading {
  background: #e5f2ff;
  float: left;
  width: 80%;
  font-size: 12px; }
  .heading h3 {
    margin: 5px 0 5px 8px;
    float: left;
    font-size: 1.6em; }
  .heading a.add {
    float: right;
    padding: 5px 8px;
    background: #5bc236;
    color: white;
    text-shadow: 1px 1px 0 #238400; }
    .heading a.add:hover {
      text-decoration: none;
      color: #ddffd1; }

.hidden {
  display: none; }

form {
  background: #f4f4f4 url(/images/static/white-space.gif) repeat-x top left;
  border: 1px solid #cccccc;
  overflow: hidden;
  padding: 30px;
  float: left;
  margin: 15px; }
  form textarea,
  form input[type="text"],
  form input[type="password"] {
    moz-border-radius: 4px 4px 4px 4px;
    webkit-border-radius: 4px;
    margin: 1.5em 0;
    padding: 10px 11px;
    background: white url(/images/static/text-form-bg.jpg) repeat-x;
    width: 530px; }
  form input.big {
    font-size: 14px;
    padding: 2px; }
  form .formatting {
    float: right;
    margin-right: 50px; }
  form .submit {
    margin-bottom: 15px; }
  form .field {
    margin-bottom: 15px; }
    form .field .hint {
      margin-top: 2px; }

.new_ajax_form {
  background: #f5f5f5;
  float: left;
  width: 100%;
  margin-bottom: 10px;
  display: none; }
  .new_ajax_form h4 {
    color: #2eae00;
    margin: 8px 10px 5px; }
  .new_ajax_form form {
    margin: 0 10px 10px; }
    .new_ajax_form form textarea {
      margin-bottom: 8px;
      width: 90%; }
  .new_ajax_form .submit {
    margin-top: 8px;
    margin-bottom: 10px; }

.inline_edit_form {
  margin: 10px;
  float: left;
  width: 85%; }
  .inline_edit_form form textarea {
    width: 95%;
    margin-bottom: 8px; }
  .inline_edit_form form .submit {
    margin-top: 8px; }

.errors {
  color: #cc0000; }

.button a {
  background: #00609d;
  color: white;
  padding: 4px 7px;
  text-shadow: 1px 1px 0 #002841; }
  .button a:hover {
    color: #ccebff;
    text-decoration: none; }

.checkbox input {
  margin-left: 0; }
.checkbox label {
  display: inline;
  font-weight: normal; }

#surveys_box {
  background: #00609d;
  float: left;
  width: 100%; }
  #surveys_box .boxxx {
    width: 310px;
    float: left; }
    #surveys_box .boxxx.end ul, #surveys_box .boxxx.end h3 {
      margin-left: 9px; }
    #surveys_box .boxxx h3 {
      margin-left: 15px;
      color: white;
      text-shadow: 1px 1px 0 #002841; }
    #surveys_box .boxxx ul {
      margin: 0 0 15px 15px;
      width: 285px;
      padding: 0;
      border-top: 1px solid #0080d2;
      background: #0071b9; }
      #surveys_box .boxxx ul li {
        list-style-type: none;
        margin: 0;
        padding: 3px 0;
        border-bottom: 1px solid #0080d2; }
        #surveys_box .boxxx ul li a {
          color: #cfecff;
          margin: 0 8px; }
          #surveys_box .boxxx ul li a:hover {
            text-decoration: none;
            color: white; }

#categories_box {
  float: left;
  width: 100%;
  background: #222222;
  margin-top: 20px; }
  #categories_box h3 {
    color: white;
    margin-left: 15px; }
  #categories_box .list {
    background: #333333;
    float: left;
    width: 590px;
    margin: 0 15px 15px; }
    #categories_box .list ul {
      float: left;
      margin: 10px 20px 12px 15px;
      padding: 0; }
      #categories_box .list ul li {
        list-style-type: none;
        margin: 0;
        padding: 2px 0;
        color: #666666; }
        #categories_box .list ul li a {
          color: #bbbbbb; }
          #categories_box .list ul li a:hover {
            color: white;
            text-decoration: none; }

#questions_list {
  float: left;
  width: 100%;
  margin-top: 15px; }
  #questions_list table {
    width: 100%;
    padding: 0;
    margin: 0; }
    #questions_list table tbody td {
      padding: 0;
      border-top: 1px solid #eeeeee;
      vertical-align: top; }
      #questions_list table tbody td.id {
        width: 80px; }
        #questions_list table tbody td.id .show_id {
          margin: 0 0 15px 8px; }
          #questions_list table tbody td.id .show_id a {
            color: #222222; }
            #questions_list table tbody td.id .show_id a:hover {
              text-decoration: none;
              color: #aaaaaa; }
      #questions_list table tbody td.body .boxxx {
        float: left;
        width: 100%;
        margin-bottom: 2px;
        padding: 0;
        background: #f5f5f5; }
        #questions_list table tbody td.body .boxxx.over {
          background: #ffffdd;
          cursor: pointer; }
        #questions_list table tbody td.body .boxxx .show_body {
          margin: 0 12px 12px;
          float: left; }
      #questions_list table tbody td.link {
        text-align: center;
        col-span: 2;
        width: 100%;
        padding-bottom: 10px; }

ul#answers_list {
  clear: both;
  padding: 0;
  float: left;
  width: 100%; }
  ul#answers_list li {
    float: left;
    width: 100%;
    list-style-type: none;
    background: #f5f5f5;
    margin-bottom: 10px; }
    ul#answers_list li .show_body {
      border-left-width: 5px;
      border-left-style: solid;
      border-left-color: #f5f5f5;
      width: 90%;
      padding-left: 10px;
      float: left; }
    ul#answers_list li.correct .show_body {
      border-left-color: #5bc236; }
    ul#answers_list li.incorrect .show_body {
      border-left-color: #cc0000; }
    ul#answers_list li .edit_link,
    ul#answers_list li .delete_link {
      float: right;
      margin: 10px; }
    ul#answers_list li .edit_link {
      display: none; }
    ul#answers_list li:hover .edit_link {
      display: block; }
  ul#answers_list.participating .show_body {
    padding-left: 7px; }
    ul#answers_list.participating .show_body .radio_button {
      float: left;
      padding-right: 12px; }

.users_list {
  margin-left: 40px; }
  .users_list table {
    width: 100%;
    border-top: 1px solid #eeeeee; }
    .users_list table tr td {
      padding: 5px 0;
      border-bottom: 1px solid #eeeeee; }
      .users_list table tr td span {
        color: #888888; }

.meta {
  color: #888888; }
  .meta.bottom {
    margin-bottom: 7px;
    width: 500px; }

.no_items {
  background: #f5f5f5;
  float: left;
  width: 100%;
  padding: 30px 0;
  margin-bottom: 15px;
  font-size: 14px;
  color: #888888;
  text-align: center; }


.show_table table {
  width: 100%;
  border: 1px solid #eeeeee; }
  .show_table table th, .show_table table td {
    padding: 5px 8px;
    text-align: left; }
    .show_table table th.center, .show_table table td.center {
      text-align: center; }
  .show_table table thead tr th {
    color: #888888;
    border-bottom: 1px solid #eeeeee; }
  .show_table table tbody tr.even td {
    background: #f5f5f5; }

a.close_account {
  float: left;
  display: block;
  margin-top: 20px;
  background: #ffeeee;
  padding: 6px 12px; }

#content #left .errorExplanation {
  border-style: solid;
  border-width: 2px;
  border-color: #cc0000;
  background: white;
  margin-bottom: 15px; }
  #content #left .errorExplanation h2 {
    background: #cc0000;
    color: white;
    padding: 7px 12px 10px;
    font-size: 14px; }
  #content #left .errorExplanation p {
    display: none; }
#content #left .formError {
  color: #cc0000;
  font-weight: bold;
  margin-top: 3px; }

#ajax-indicator {
  display: none;
  position: absolute;
  background-color: #eeeeee;
  border: 1px solid #bbbbbb;
  top: 35%;
  left: 40%;
  width: 20%;
  font-weight: bold;
  text-align: center;
  padding: 0.6em;
  z-index: 100;
  filter: alpha(opacity=70);
  opacity: 0.7; }
  #ajax-indicator span {
    background-position: 0% 40%;
    background-repeat: no-repeat;
    background-image: url(/images/loading.gif);
    padding-left: 26px;
    vertical-align: bottom; }

/*heatmaps*/
.ipaddress, .connection {
	width: 100px;
	float: left;
	padding: 5px;
	color: #555;
	
}

.heatmap {
	float: left;
}

.heatmap-percentage{
	float: left;
	vertical-align: middle;
	font-size: 1.8em;
	color: #777;
	font-weight: bold;
	padding-top: 15px;
}

.clear{
	clear:both;
}

.pagination{
	float:right;
	padding:30px;
}

.notification {
	padding: 40px;
	text-align: center;
	font-size: 1.4em;
}

.signup-header{
	font-family: 'lucida grande',Verdana,sans-serif;
	color: #333;
	font-weight: normal;
	font-size: 1.4em;
	padding-left: 20px;
	padding-top: 7px;
	text-align: left;
	width: 100%;
}
