%div.ipaddress
  = time_ago_in_words(log.created_at) + " ago"

%div.connection
  = log.ip

%div{:id => log.id, :class => "heatmap"}
  / = log.gchart.render(log.id)
  = log.simple_gchart
  

%div.heatmap-percentage
  = log.percentage_viewed.to_s + "%"
  
%div.clear