- @page_title = "Video details : #{@video.youtube_id}"

%h2= @page_title


= high_chart("my_id", @h)

.heading
  %h3
    Individual Heatmaps
- @logs.each do |log|
  = render :partial => "log", :locals => {:log => log}