<!-- / Container -->
<div class="clear last clearfix" id="footer">
  <div class="clear last" id="top-footer"> <a href="#"><img class="footer-logo clear" src="/images/static/footer-logo.png" alt="" width="252" height="81" /></a>
    <div class="span-3 copyright">
      <!-- <a href="privacy.html">Privacy Policy</a> | <a href="/contact.html"> Contact Us</a>  -->
    </div>
    <div class="span-3 footer-list">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="/home.html">Home</a></li>
        <li><a href="/signup.html">Sign up</a></li>
      </ul>
    </div>
    <div class="span-3 footer-list">
      <h3>Company</h3>
      <ul>
        <li><a href="/contact.html">Contact Us</a></li>
        <li><a href="/privacy.html">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="span-3 last footer-list">
      <h3>Copyright</h3>
      <p>Portions of this content are ©2010 by videoheatmaps.</p>
    </div>
  </div>
  <!-- end top-footer -->
  <!-- <div class="clear last" id="bottom-footer">
    <div class="span-6 append-6 last menu-lite">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="tour.html">Tour</a></li>
        <li><a href="contact.html">Contact Us</a></li>
        </li>
      </ul>
    </div>
  </div> -->
  <!-- end bottom-footer -->
  <a href="#" id="toTop">^ Scroll to Top</a> </div>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19272502-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>