<!-- / Container -->
<div class="clear last clearfix" id="footer">
  <div class="clear last" id="top-footer"> <a href="#"><img class="footer-logo clear" src="/images/static/footer-logo.png" alt="" width="252" height="81" /></a>
    <div class="span-3 copyright">
      <p>Portions of this content are ©2008–2009 by individual Ivor Padilla. Content available under a Creative Commons license.</p>
      <a href="#">Privacy Policy</a> | <a href="#"> Contact Us</a> </div>
    <div class="span-3 footer-list">
      <h3>Products</h3>
      <ul>
        <li><a href="#">Meet the Company</a></li>
        <li><a href="#">Pricings</a></li>
        <li><a href="#">Examples</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Sign up</a></li>
        <li><a href="#">Latest Products</a></li>
        <li><a href="#">Our Showcase</a></li>
        <li><a href="#">Lorem Ipsum Dolor</a></li>
        <li><br><img src="/images/static/verified.jpg"></img>
        
      </ul>
    </div>
    <div class="span-3 footer-list">
      <h3>Company</h3>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Term of Services</a></li>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">Be Our Fan in Facebook</a></li>
        <li><a href="#">We are also in Twitter</a></li>
      </ul>
    </div>
    <div class="span-3 last footer-list">
      <h3>Our Projects</h3>
      <ul>
        <li><a href="#">Envato Pty Ltd.</a></li>
        <li><a href="#">ThemeForest</a></li>
        <li><a href="#">SmashingMagazine</a></li>
        <li><a href="#">Loon Design</a></li>
        <li><a href="#">PsychSurveys Bug Trac</a></li>
        <li><a href="#">ActiveDen Redesign</a></li>
        <li><a href="#">Workawesome iPhone App</a></li>
      </ul>
    </div>
  </div>
  <!-- end top-footer -->
  <div class="clear last" id="bottom-footer">
    <div class="span-6 append-6 last menu-lite">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Contact Us</a></li>
        </li>
      </ul>
    </div>
  </div>
  <!-- end bottom-footer -->
  <a href="#" id="toTop">^ Scroll to Top</a> </div>
</div>