<div id="inner-page">
  <div class="container">
    <%= render :partial => 'header', :locals => {:page => 'about'} %>
    <div class="clear span-12 last" id="main-inner">
      <div class="span-8 left-content-secondary">
        <div class="blog-post"> <a class="blog-post-title" HREF="single.html">Holiday Giveaways, Freebies and More!</a>
          <div class="meta">
            <p class="sub-meta">Posted December 6, 2009 in <a href="#">Business</a>, <a href="#">Productivity </a></p>
          </div>
          <div class="comments-counter"> <a href="#">40 Comments &raquo;</a> </div>
          <div class="blog-content"> <a HREF="single.html"><img src="/images/static/image-post1.jpg" alt="Image Post"  /></a>
            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, 	ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. [...] </p>
            <a class="readmore" HREF="single.html" title="Read More">Read More</a> </div>
          <!-- blog content -->
        </div>
        <!-- Blog Post -->
        <div class="blog-post"> <a class="blog-post-title" HREF="single.html">Holiday Giveaways, Freebies and More!</a>
          <div class="meta">
            <p class="sub-meta">Posted December 6, 2009 in <a href="#">Business</a>, <a href="#">Productivity </a></p>
          </div>
          <div class="comments-counter"> <a href="#">40 Comments &raquo;</a> </div>
          <div class="blog-content"> <a HREF="single.html"><img src="/images/static/image-post1.jpg" alt="Image Post"  /></a>
            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, 	ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. [...] </p>
            <a class="readmore" HREF="single.html" title="Read More">Read More</a> </div>
          <!-- blog content -->
        </div>
        <!-- Blog Post -->
        <div class="blog-post"> <a class="blog-post-title" HREF="single.html">Holiday Giveaways, Freebies and More!</a>
          <div class="meta">
            <p class="sub-meta">Posted December 6, 2009 in <a href="#">Business</a>, <a href="#">Productivity </a></p>
          </div>
          <div class="comments-counter"> <a href="#">40 Comments &raquo;</a> </div>
          <div class="blog-content"> <a HREF="single.html"><img src="/images/static/image-post1.jpg" alt="Image Post"  /></a>
            <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, 	ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. [...] </p>
            <a class="readmore" HREF="single.html" title="Read More">Read More</a> </div>
          <!-- blog content -->
        </div>
        <!-- Blog Post -->
        <div class="navigator"> <a class="next" href="#">Next &raquo;</a> <a class="next" href="#">10</a> <span class="disabled">...</span> <a href="#">4</a> <a href="#">3</a> <a href="#">2</a> <span class="selected"><b>1</b></span> </div>
      </div>
      <!-- inner-main-content -->
      <div class="span-4 last right-content-secondary sidebar">
        <div id="categories">
          <div class="sidebar-title">
            <h1>Categories</h1>
            <div class="arrow">.</div>
          </div>
          <ul class="blog-sidebar-a">
            <li> <a href="#">ThemeForest Giveaways</a> </li>
            <li> <a href="#">PSDTuts Giveaways</a> </li>
            <li> <a href="#">Photoshop</a> </li>
            <li> <a href="#">Adobe Fireworks</a> </li>
            <li> <a href="#">NewsFlash</a> </li>
            <li> <a href="#">Apple iMac</a> </li>
            <li> <a href="#">Haiti Earthquake</a> </li>
          </ul>
        </div>
        <!-- /Categories -->
        <div id="archives">
          <div class="sidebar-title">
            <h1>Archives</h1>
            <div class="arrow">.</div>
          </div>
          <ul class="blog-sidebar-a">
            <li> <a href="#">January</a> </li>
            <li> <a href="#">February</a> </li>
            <li> <a href="#">March</a> </li>
            <li> <a href="#">April</a> </li>
            <li> <a href="#">May</a> </li>
            <li> <a href="#">June</a> </li>
            <li> <a href="#">July</a> </li>
          </ul>
        </div>
        <!-- /Archives -->
        <div id="text-widget">
          <div class="sidebar-title">
            <h1>Text Widget</h1>
            <div class="arrow">.</div>
          </div>
          <div class="box">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
          </div>
        </div>
        <!-- /text-widget -->
        <div id="ads">
          <div class="sidebar-title">
            <h1>Advertisement</h1>
            <div class="arrow">.</div>
          </div>
          <div class="ad-boxes"> <a href="#" class="adhere100px center">Advertise Here</a> <a href="#" class="adhere100px">Advertise Here</a> <a href="#" class="adhere100px">Advertise Here</a> <a href="#" class="adhere100px">Advertise Here</a> </div>
        </div>
        <!-- /text-widget -->
      </div>
    </div>
    <!-- end main-secondary -->
  </div>
  <!-- end main -->
</div>

<script type="text/javascript">
			// Cufon.replace('h2');
		</script>
