<div id="inner-page">
  <div class="container">
    <%= render :partial => 'header', :locals => {:page => 'about'} %>
    <div class="clear span-12 last" id="main-inner">
      <div class="span-8 left-content-secondary">
        <div class="span-8 first inner-page-title">
          <h2 class="main-title-2">Get in touch</h2>
        </div>
        <script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

        <script type="text/javascript">
        var q7x3p3 = new WufooForm();
        q7x3p3.initialize({
        'userName':'bettermeans', 
        'formHash':'q7x3p3', 
        'autoResize':true,
        'height':'434'});
        q7x3p3.display();
        </script>
        <div class="trib">.</div>
        <div id="message"></div>
      </div>
      <!-- inner-main-content -->
      <div class="span-4 last right-content-secondary sidebar">
        <!-- /Map -->
        <div id="details">
          <div class="sidebar-title">
            <h1>Contact Details</h1>
            <div class="arrow">.</div>
          </div>
          <p class="mail"> <a href="mailto:folks@videoheatmap.com">E-mail: folks@videoheatmap.com</a></p>
          <p class="tel">Tel: +1 415 868 5119</p>
        </div>
        <!-- /Details -->
        <!-- /text-widget -->
        <!-- /text-widget -->
      </div>
    </div>
    <!-- end main-secondary -->
  </div>
  <!-- end main -->
</div>
<!-- / Container -->
<script type="text/javascript">
			// Cufon.replace('h1, h2');
		</script>
