<div id="inner-page">
  <div class="container">
    <%= render :partial => 'header', :locals => {:page => 'about'} %>
    <div class="clear span-12 last" id="main-inner">
      <div class="span-8 left-content-secondary">
        <div class="blog-post-single"> <a class="blog-post-title" HREF="blog.html">videoheatmaps Privacy Policy</a>
          <div class="blog-content"> <a href="#"><img src="/images/static/privacy.jpg" alt="Image Post"  /></a>

            <p>VidoeHeatmaps is committed to securing the privacy of your data and of keeping email addresses and other identifying information confidential. </p>

            <a name='privacycreatoremail'></a><h3>Your Name and Email Address</h3>

            <p>To insure that the email address you provide is actually yours, we require you to activate a new account by clicking on a link in an email sent to the email address you provide for us.  You are free to change the email address associated with your account at any time, but you will once again have to activate the new email address by clicking a link in an email sent to the new address.  We will never give or sell your email address to anyone, and we will use it only to communicate with you about your videoheatmap account. </p>

            <a name='privacycreatordata'></a><h3>Security and Confidentiality of Data</h3>

            <p>The data we collect on your behalf will be stored in a secure database.</p>
            
            <p>While the database in which your data is stored is as secure as can be arranged, please keep in mind that all information stored on web servers is vulnerable.  Hackers work to outwit security measures as fast as security experts work to keep hackers out.  If you have concerns about your data remaining online, you can always delete it from videoheatmap by closing your account. Though videoheatmap staff do have the ability to view any data you collect, we will never do so unless you ask us to for purposes of helping you solve a problem.</p>

            <p>The greatest risk to the security of your data is someone exploiting the password you use to log in to your videoheatmap account.  You can minimize this risk by using a hard to guess password.  The best passwords are long, mix uppercase letters, lowercase letters, and numbers, and don't include words that can be found in the dictionary. You should also be cautious about where you store your passwords and who you share them with.</p>

            <p>Staff at videoheatmap have the ability to view your data, but we will never do so unless you ask us to so that we can help you with a technical problem.  You are the owner of your data, and we will never make use of it for any reason.</p>

            
          </div>
          <!-- blog content -->
        </div>
        <!--/ Entire Post -->
      </div>
      <!-- inner-main-content -->
      <div class="span-4 last right-content-secondary sidebar">
        <!-- /Categories -->
        <div id="text-widget">
          <div class="sidebar-title">
            <h1>Copy Left</h1>
            <div class="arrow">.</div>
          </div>
          <div class="boxxx">
            <p>This privacy policy is shared under <a href="http://creativecommons.org/licenses/by-sa/3.0/" target="new">CreativeCommons Attribution-Share Alike</a></p>
            <p>Feel free to copy-paste what you need and please attribute the source to videoheatmaps.com</p>
          </div>
        </div>
        <!-- /text-widget -->
      </div>
    </div>
    <!-- end main-secondary -->
  </div>
  <!-- end main -->
</div>