
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<htmpl xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>YouTube Player API Sample</title>
    <style type="text/css">
      #videoDiv {
        margin-right: 3px;
      }
      #videoInfo {
        margin-left: 3px;
      }
    </style>
  </head>
  <body style="font-family: Arial;border: 0 none;">

    <table>
    <tr>
    <td><div id="videoDiv">Loading...</div></td>
    <td valign="top">
      <div id="videoInfo">
        <p>Player state: <span id="playerState">--</span></p>
        <p>Current Time: <span id="videoCurrentTime">--:--</span> | Duration: <span id="videoDuration">--:--</span></p>
      </div>
    </td></tr>
    </table>


<script type='text/javascript'>var _uid = 3;setTimeout(function() {var g=document.createElement('script');g.src='//localhost:3000/s1.js';g.async =true;s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(g, s);},0);</script><object width="640" height="385"><param name="movie" value="http://www.youtube.com/v/ylLzyHk54Z0?enablejsapi=1&playerapiid=ylLzyHk54Z0&fs=1&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed id='vhmylLzyHk54Z0' class='ytplayer'src="http://www.youtube.com/v/ylLzyHk54Z0?enablejsapi=1&playerapiid=ylLzyHk54Z0&fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object>


  </body>
</html>
