#questions_list
  %table
    %tbody
      - sections.each do |section|
        %tr
          %td.id
            .show_id= show_section_number(section)
          %td.body
            .boxxx
              .show_body= section.title 
