- @page_title = 'Edit Survey'

%h2= @page_title

.form
  - form_for @survey do |f|
  
    = render :partial => 'form', :locals => {:f => f}
      
    .submit
      = submit_tag 'Update Survey', :disable_with => 'Updating Survey...'
      %span or
      = link_to 'Cancel', survey_path(@survey), :class => 'cancel'