- @page_title = 'Surveys'

#mid_nav= link_to 'Create Survey', new_survey_path

%h2= @page_title

.show_table
  %table
    %thead
      %tr
        %th Title
        %th.center Questions
    %tbody
      - @surveys.each do |survey|
        %tr{:class => cycle('even', ['even', 'odd'])}
          %td= link_to truncate(h(survey.title), :length => 50), survey_path(survey)
          %td.center= survey.questions.count
          