- @page_title = 'New Survey'

%h2= @page_title

.form
  - form_for @survey do |f|

    = render :partial => 'form', :locals => {:f => f}
      
    .submit
      = submit_tag 'Create Survey', :disable_with => 'Creating Survey...'
      %span or
      = link_to 'Cancel', surveys_path, :class => 'cancel'